<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hola {{ user }}!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola {{ user }}!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let curso of cursos">
    <ion-card (click)="navegar(curso)">
      <div class="image-container">
        <img src="assets/icon/Mat.jpg" alt="img de la asignatura" />
      </div>

      <ion-card-content>
        <ion-card-title>{{ curso.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ curso.codigo }}</ion-card-subtitle>
      </ion-card-content>

      <ion-card-content>
        {{ curso.seccion }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
